body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}
a {
    color: black;
    text-decoration-line: none;
}
a:hover {
    color: grey;
}
nav, footer {
    background-color: #F1A536;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.logo {
    height: 100%;
}
.logo img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
}
.nav-elements {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-size: 14px;
    gap: 15px;
}
.images {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding-bottom: 40px;
}
.image-element {
    flex: 1 1 200px;
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.image-element .image {
    height: 30vmin;
}
.images .image > img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}
.images .image-footer {
    width: 100%;
    padding: 8px 0;
    background-color: white;
    text-align: center;
}

section, footer, nav {
    padding-left: 6%;
    padding-right: 6%;
}
section {
    padding-bottom: 40px;
    padding-top: 20px;
}
header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    background-color: burlywood;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
}
header > h1 {
    background-color: white;
    height: 30px;
    padding: 5px 8px 8px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 900;
}

.quote-box {
    font-size: large;
    font-weight: bold;
    color: #555555;
}
.quote-box > p {
    max-width: 70ch;
}
.recipe-list.small {
    font-size: small;
}
.recipe-list > li > p, .recipe-list > li > span {
    font-size: small;
    width: 52ch;
}

.bg-light-grey {
    background-color: lightgrey;
}
.bg-dark-red {
    background-color: darkred;
}
.border {
    border: 3px solid grey;
}

.flex, .flex-col, .flex-start, .flex-end, .flex-center {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.flex-grow {
    flex-grow: 1;
}
.flex-even {
    flex: 1;
}
.flex-center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

button {
    padding: 4px;
    border-radius: 20px;
}
.text-white {
    color: white;
}
.text-center {
    text-align: center;
}